header {
    position: fixed;
    padding-bottom: 10px;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 10;
    width: 100%;
    @include animationTransition;

    .header-wrapper {
        @include displayFlex($flexElementAlign: center);
        @include animationTransition;

        .header__navigation {
            @include displayFlex($flexElementJustify: inherit);
            flex: 0 0 40%;

            ul {
                @include displayFlex;
                max-width: 380px;

                li {
                    flex: 0 1 auto;

                    a {
                        font-size: 18px;
                        font-weight: 300;
                        color: #000;
                        font-weight: 500;
                    }
                }
            }
        }

        .header__logo {
            text-align: center;
            flex: 0 0 20%;

            img {
                max-width: 55px;
            }

            p {
                font-size: 13px;
            }
        }

        .header__client {
            @include displayFlex($flexElementJustify: flex-end);
            flex: 0 0 40%;

            &-navigation {
                @include displayFlex;
                max-width: 175px;

                li {
                    a {
                        svg {
                            path {
                                @include animationTransition;
                            }
                        }
                    }
                }
            }
        }

        &.white {
            @include animationTransition;

            .header__navigation {
                ul {
                    li {
                        a {
                            color: #fff
                        }
                    }
                }
            }

            .header__logo {
                a {
                    p {
                        color: #fff;
                    }
                }
            }

            .header__client-navigation {
                li {
                    a {
                        svg {
                            path {
                                @include animationTransition;
                                fill: #fff;
                            }
                        }
                    }

                }

            }
        }
    }

    &.header-scrolled {
        background: #fff;
        @include animationTransition;
        border-bottom: 1.5px solid #eee;
    }
}